cffi==0.8.6
colorama==0.2.5
configobj==4.7.2
cryptography==0.6.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.2
django-cors-headers==0.13
django-toolbelt==0.0.1
gunicorn==19.1.1
html5lib==0.999
pbr==0.10.7
psycopg2==2.5.4
pycparser==2.10
pycrypto==2.6.1
pyOpenSSL==0.13
pyserial==2.6
python-debian==0.1.21
requests==2.2.1
six==1.9.0
ssh-import-id==3.21
static3==0.5.1
stevedore==1.2.0
urllib3==1.26.5
virtualenv==12.0.5
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.2
whitenoise==1.0.6
zope.interface==4.0.5
